.compartment {
    text-align: center;
    border: 2px solid #0599ee;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 4px;
}
.compartment:hover {
    background-color: #004E89;
    border-color: #004E89;
    color: white;

}

.compartment:active {
    background-color: #004E89;
    border-color: #004E89;
    color: white;
}

#fridgeContainer {
    margin-left: 5%;
    margin-right: 5%;
}

#controls {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 10%;
}

#controls > div {
    width: 50%;
}

#presets {
    text-align: center; 
}

#presets > ion-button {
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
}


ion-list-header > ion-label {
    font-size: 20px;
    font-weight: 700;
}

.note {
    height: 50%;
}
