#inventory {
    margin-left: 2%;
}

#compartmentItems {
    display: none;
}

#bottom-div {
    width: 100%;
    position: absolute;
    bottom: 5vh;
    background-color: white;
    padding-top: 1vh;
    height: 7vh;
}

#shoppingList {
    margin-bottom: 5px;
}