ul {list-style-type: none;}

.month {
  padding: 60px 15px;
  width: 100%;
  height: 20%;
  background: #004E89;
  text-align: center;
}
 .month ul li {
color: white;
font-size: 50px;
text-transform: uppercase;
letter-spacing: 3px;
}
        
.month .prev {
float: left;
padding-top: 5px;
}
        
.month .next {
float: right;
padding-top: 5px;
}
        
.weekdays {
margin: 0;
padding: 15px 0;
background-color: rgba(226, 224, 224, 0.87);
}
        
.weekdays li {
display: inline-block;
width: 13.6%;
color: rgb(102, 102, 102);
text-align: center;
}

.day {
  text-align: center;
  border: 2px solid #0599ee;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 4px;
  display: table-cell;
}

.day:hover {
  background-color: #004E89;
  border-color: #004E89;
  color: white;

}

.dayUnhighlight {
  text-align: center;
  border: 2px solid #8ecef3;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 4px;
  display: table - cell;
  color: #8ecef3
}
