#app-list {
    padding-top: 1%;
    height: 5vh;
    overflow: scroll;
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: unset;
    text-decoration: none;
}
