#app-list {
    height: 6vh;
    overflow: scroll;
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: unset;
    text-decoration: none;
    text-align: center;
}

.icon-label {
    margin-top: unset !important;
}