.page {
    height: 100%;
    width: 100%;
}

ion-slides {
    height: 95%;
}

.left-margin {
    margin-left: 3%;
}

.right-margin {
    margin-right: 3%;
}

.float-left {
    float:left; 
}

.float-right {
    float: right;
}

#statusbar {
    margin-top: 2%;
    height: 3%;
}

#header {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}

#temperature {
    margin-top: unset !important;
}

#widgets {
    height: 70%;
}

#app-list {
    margin-top: 5%;
    height: 10%;
    overflow: scroll;
    white-space: nowrap;
    
}

.app-icon {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

#weather-icon {
    zoom: 2.0;
}

.thumbnail-widget {
    border-radius: 10%;
    width: 80px !important;
    height: 80px !important;
}

.compartment {
    text-align: center;
    border: 2px solid #0599ee;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 4px;
    display: table-cell;
}


.compartment:hover {
    background-color: #004E89;
    border-color: #004E89;
    color: white;

}


.arrow:active {
    border-color: #004E89;
    color: #004E89;

}

#FridgeControl {
    display: flex;
    justify-content: space-evenly;
    margin: 7%;
}

#preset {
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}