#music-player {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#controls {
    flex: 1;
    background-color: #AAAAAA;
    padding: 30px 50px 30px 50px;
}

#time {
    --bar-background-active: white;
}

.timestamp {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

#playback {
    padding: 30px 60px 30px 60px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.white {
    background-color: #AAAAAA;
    color: black;
}